version: 2
updates:
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: weekly
  labels:
    - "C-Dependencies"
  commit-message:
    prefix: chore
    include: scope

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
  labels:
    - "C-Dependencies"
  commit-message:
    prefix: chore
    include: scope
