---
"on":
  push:
    branches: [main]

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate:
          - plex-api
          - plex-cli
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          path: "crates/${{ matrix.crate }}"
          package-name: ${{ matrix.crate }}
          release-type: rust
          token: "${{ secrets.PAT_GITHUB_PR }}"
          bootstrap-sha: "0478c04c4d92a5ba95a6933663c46f9269695bd5"
          versioning-strategy: "always-bump-patch"
          monorepo-tags: true
          bump-minor-pre-major: true
          bump-patch-for-minor-pre-major: true
          changelog-types: |
            [{"type":"feat","section":"Features","hidden":false},
             {"type":"fix","section":"Bug Fixes","hidden":false},
             {"type":"chore","section":"Miscellaneous","hidden":false},
             {"type":"test","section":"Tests","hidden":true},
             {"type":"ci","section":"Continuous Integration","hidden":true},
             {"type":"docs","section":"Documentation","hidden":false},
             {"type":"refactor","section":"Code Refactoring","hidden":true},
             {"type":"style","section":"Styles","hidden":true}]

      # The logic below handles the crates.io publication:
      - name: Checkout sources
        uses: actions/checkout@v3
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.release_created }}
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
        if: ${{ steps.release.outputs.release_created }}
      - run: cargo publish -p ${{ matrix.crate }}
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_IO_TOKEN }}"
        if: ${{ steps.release.outputs.release_created }}
