---
"on":
  push:
    branches: [main]

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          command: manifest
      # The logic below handles the crates.io publication:
      - name: Checkout sources
        uses: actions/checkout@v2
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs['crates/plex-api--release_created'] }}
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
        if: ${{ steps.release.outputs['crates/plex-api--release_created'] }}
      - uses: Swatinem/rust-cache@v1.3.0
        with:
          sharedKey: cache
        if: ${{ steps.release.outputs['crates/plex-api--release_created'] }}
      - run: cargo publish -p plex-api
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_IO_TOKEN }}"
        if: ${{ steps.release.outputs['crates/plex-api--release_created'] }}
