---
"on":
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

name: Update known features list
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2.8.1
        with:
          shared-key: cache
      - name: Update json
        run: |
          curl -o 'crates/plex-api/tests/mocks/myplex/api/v2/features.json' \
            -H 'Accept: application/json' \
            https://clients.plex.tv/api/v2/features\?X-Plex-Product\=Plex%20Web\&X-Plex-Version\=4.152.0\&X-Plex-Client-Identifier\=${{ secrets.X_PLEX_CLIENT_IDENTIFIER_PLEXPASS }}\&X-Plex-Platform\=Safari\&X-Plex-Platform-Version\=26.0\&X-Plex-Features\=external-media%2Cindirect-media%2Chub-style-list\&X-Plex-Model\=standalone\&X-Plex-Device\=OSX\&X-Plex-Device-Name\=Safari\&X-Plex-Device-Screen-Resolution\=1778x883%2C1512x982\&X-Plex-Token\=${{ secrets.PLEX_API_AUTH_TOKEN_PLEXPASS }}\&X-Plex-Language\=en-GB
      - name: Build plex-api
        run: cargo build --package plex-api
      - name: Check if the enum was updated
        run: |
          if git diff --exit-code crates/plex-api/src/media_container/server/feature.rs
          then
            git checkout .
          fi
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: "${{ secrets.PAT_GITHUB_PR }}"
          commit-message: "chore: update Feature enum"
          branch: "auto-pr/feature-enum-update"
          title: "Update the media_container::server::Feature enum"
          labels: "C-Dependencies"
      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
